<a class="btn btn-sm btn-default"
   href="{{ admin.generateObjectUrl('view-questions', object, {'id': object.id}) }}">
    <i class="fa fa-question-circle"></i> {{ 'sonata-extra.faq.manage_question'|trans({}, 'PartitechSonataExtraBundle') }}
</a>

<style>
   .sonata-ba-list-field-header.sonata-ba-list-field-header-batch {
    width: 50px;
    }
</style>
