{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block navbar_title %}
   {{ admin.toString(object)|remove_br|raw }}
{% endblock %}



{% block sonata_breadcrumb %}
    <div class="hidden-xs">
    {% if _breadcrumb is not empty or action is defined %}

        <ol class="nav navbar-top-links breadcrumb">
            {% if _breadcrumb is empty %}

                {% if action is defined %}
                    {% set breadcrumb =  render_breadcrumbs(admin, action) %}
                    {% set breadcrumb_array = breadcrumb|split('</li>') %}
                    {% set breadcrumb_array = breadcrumb_array|slice(0, breadcrumb_array|length - 1) %}
                    {% set breadcrumb_array = breadcrumb_array|slice(0, breadcrumb_array|length - 1) %}
                    {% set subject=admin.subject.description|remove_br|raw %}
                    {% set new_last_li = '<li class="active"><span>' ~ subject ~ '</span></li>' %}
                    {% set breadcrumb_array = breadcrumb_array|merge([new_last_li]) %}
                    {% set new_breadcrumb = breadcrumb_array|join('</li>') %}
                    {{new_breadcrumb|raw }}
                {% endif %}
            {% else %}

                {{ _breadcrumb|raw }}
            {% endif %}
        </ol>
    {% endif %}
    </div>
{% endblock sonata_breadcrumb %}