{% extends get_global_template('list') %}

{%- block tab_menu -%}
    {{ parent() }}
    {% if action is defined %}
        {{ knp_menu_render(admin.sidemenu(action), {
            'currentClass': 'active',
            'template': '@PartitechSonataExtra/Admin/article/tab_menu_template.html.twig'
        }, 'twig') }}
    {% endif %}

    {% if admin.preserveFilters is defined and admin.preserveFilters == true %}
        <div class="box-header" style="padding-left:0;">
        <h1 class="box-title sonata-page-top-bar">
            <div class="btn-group">
                <a href="{{ admin.generateUrl('list', {'clear_filters': 'true'}) }}" class="btn btn-danger" style="margin-left: 20px;">
                    <i class="fa fa-filter"></i> Clear Filters
                </a>
            </div>
        </h1>
        </div>
    {% endif %}


{%- endblock -%}

{% block sonata_page_content_header %}
    {%  set template_list=admin.getTemplateRegistry().templates %}
    {% if template_list.list_prepend_page_content_header_template is defined %}
        {% include template_list.list_prepend_page_content_header_template with {'admin': admin} %}
    {% endif %}

    {{ parent() }}

    {% if template_list.list_append_page_content_header_template is defined %}

        {% include template_list.list_append_page_content_header_template with {'admin': admin} %}
    {% endif %}

{% endblock %}