
    <a href="{{ admin.generateObjectUrl('apply_revision', object) }}" class="btn btn-sm btn-default apply-revision" title="{{ 'action_apply_revision'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-check"></i>
        {{ 'Apply Revision'|trans({}, 'PartitechSonataExtraBundle') }}
    </a>
